.data {
    text-align: center;
}

h2 {
    color: $secondary;
}

h3 {
    font-size: 35px;
    font-weight: bold;

    & .cripto {
        color: tomato;
    }

    & .moneda {
        color: lightgreen;
    }
}

img {
    width: 130px;
}

p {
    font-size: 19px;
}

@media screen and (max-width: 425px) {
    .data {
        margin-top: 50px;
    }
}